
.selectable-list {list-style-type: none; padding: 0;}
.selectable-list .ui-selecting { background: #FECA40; }
.selectable-list .ui-selected { background: #F39814; }
.selectable-list li { margin: 6px; padding: 0.4em; font-size: .9rem; height: 2rem; }
